<footer>
    <div class="footer-sign">
        <span>Powered by</span>
        <img src="./image/giphyLogo.png">
    </div>
    
    <div class="home-button">
        <div class="icon"><a href="/"><i class="fas fa-home"></i></a></div>
            <!-- <span>Home</span>             -->
    </div>
</footer>
