<!DOCTYPE html>
<html>
    <header>    

        <section class="icons-wrapper">
            
            <div class="left">
                <h1 class="menu"><a href="/">MARIA</a></h1>

                <div class="round-button">
                    <div class="icon"><a href="/"><i class="fas fa-home"></i></a></div>
                        <span>Home</span>            
                </div>


                <div class="round-button">
                    <div class="icon"><a href="https://www.linkedin.com/in/mariabizari/"><i class="fab fa-linkedin-in"></i></a></div>
                        <span>LinkedIn</span>            
                </div>

                <div class="round-button">
                    <div class="icon"><a href="https://github.com/msbizari"><i class="fab fa-github"></i></a></div>
                        <span>GitHub</span>            
                </div>

                <div class="round-button">
                    <div class="icon"><a href="https://twitter.com/mbizari_"><i class="fab fa-twitter"></i></a></div>
                        <span>Twitter</span>            
                </div>  
            </div>

            <div class="search-bar">
                <form>
                    <!-- <label for="search">Search</label> -->
                    <input id="user" type="search" class="search-value" value=" "/>
                    <!-- <button id="btnSearch" type="submit" class="search-button"><a href="/search">Let's Giphyfy!</a></button> -->
                    <button id="btnSearch" type="submit" class="search-button"><a href="/search">Let's Giphyfy!</a></button>
                </form>
            </div> 

        </section>

        <script src="header.js"></script>

    </header>