<!DOCTYPE html>
<html>
    <header>    

        <div class="icons-wrapper">
            <h1 class="menu">MARIA</h1>

            <div class="round-button">
                <div class="icon"><a href="/"><i class="fas fa-home"></i></a></div>
                    <span>Home</span>            
            </div>


            <div class="round-button">
                <div class="icon"><a href="https://www.linkedin.com/in/mariabizari/"><i class="fab fa-linkedin-in"></i></a></div>
                    <span>LinkedIn</span>            
            </div>

            <div class="round-button">
                <div class="icon"><a href="https://github.com/msbizari"><i class="fab fa-github"></i></a></div>
                    <span>GitHub</span>            
            </div>

            <div class="round-button">
                <div class="icon"><a href="https://twitter.com/mbizari_"><i class="fab fa-twitter"></i></a></div>
                    <span>Twitter</span>            
            </div>  


            <!-- <div class="search-bar">
                <form>
                    <label for="search">Search</label>
                    <input id="search" type="search"/>
                    <button id="btnSearch">Go</button>
                </form>
            </div> -->

        </div>

        <script src="header.js"></script>

    </header>

