<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include("./partials/header") %> 

  <body>
    <div class="title">
      <p class="up">Welcome to</p>
      <h1><%= title %></h1>
    </div>

    <main>

      <!-- Here's where the magic happens -->

    </main>

    <section>
      <a href="/more"><button class="buttons">More Gifs</button></a>
      <button class="buttons wow">Sorprise me!</button>
    </section>

    <script src="javascripts/random.js"></script>
  </body>
</html>