<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include("./partials/header") %> 

  <body>
    <div class="title">
      <p class="up">Welcome to</p>
      <h1><%= title %></h1>
    </div>
    <nav>
        <ul>

        </ul>
    </nav>

    <!-- <a class="down"> -->
    <div class="buttons">
      <a href="/more"><button>More Gifs</button></a>
      <button class="wow">Sorprise me!</button>
    </div>

    <script src="javascripts/random.js"></script>
  </body>
</html>
