<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <%- include("./partials/header") %> 


    <body>
        <div class="title">
            <p>More</p>
            <h1>Random Gifs</h1>
            <p>for you to enjoy!</p>
        </div>
        <nav>
            <ul>

            </ul>
        </nav>
        <script src="javascripts/more.js"></script>
    </body>
</html>
