<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <header>    

        <section class="icons-wrapper">
            
            <div class="left">
                <h1 class="menu">MARIA</h1>

                <div class="round-button">
                    <div class="icon"><a href="/"><i class="fas fa-home"></i></a></div>
                        <span>Home</span>            
                </div>


                <div class="round-button">
                    <div class="icon"><a href="https://www.linkedin.com/in/mariabizari/"><i class="fab fa-linkedin-in"></i></a></div>
                        <span>LinkedIn</span>            
                </div>

                <div class="round-button">
                    <div class="icon"><a href="https://github.com/msbizari"><i class="fab fa-github"></i></a></div>
                        <span>GitHub</span>            
                </div>

                <div class="round-button">
                    <div class="icon"><a href="https://twitter.com/mbizari_"><i class="fab fa-twitter"></i></a></div>
                        <span>Twitter</span>            
                </div> 

                <div class="round-button">
                    <div class="icon"><a href="/search"><i class="fas fa-search"></i></a></div>
                        <span class="giph">Lets Giph!</span>            
                </div> 

            </div>

            <div class="search-bar">
                    <input id="input" type="text" value="" onfocus="this.value=''"/>
                    <button id="btnSearch" type="submit" class="search-button" >Giphy!</button>
            </div> 

        </section>

    </header>

    <figure>

        <br>
        <br>

        <h3>Let's search for your fav Gifs!</h3>
            <!-- Here's where the magic happens -->
        </figure>


    <script src="javascripts/search.js"></script>
</html>


<!-- onfocus="this.value=''" -->