*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 70;  
}

.menu{
  display: inline-block;
  justify-content: left;
  text-align: left;
  margin: 2% 0% 0% 4%;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  font-weight: 70;
  /* font-family: 'Bad Script', cursive; */
}

.icons-wrapper {
  align-content: center;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.search-bar{
  /* align-content: flex-end; */
  justify-content: right;
  text-align: right;

}

.icons-wrapper .round-button{
  display: inline-block;
  height: 30px;
  width: 30px;
  /* float: left; */
  margin: 0 5px;
  overflow: hidden;
  /* background: #fff; */
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.icons-wrapper .round-button:hover{
  width: 120px;
}

.icons-wrapper .round-button .icon{
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 30px;
}

.icons-wrapper .round-button .icon i{
  font-size: 18px;
  line-height: 30px;
  transition: all 0.3s ease-out;
  color: #fff;
}

.icons-wrapper .round-button span{
  font-size: 14px;
  font-weight: 100;
  line-height: 30px;
  margin-left: 10px;
}

body{
   width: 100%;
   height: 500%;
   color: #fff;
   background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
   background-size: 400% 400%;
   position: relative;
   animation: change 10s ease-in-out infinite;

   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

/* h1{
   font-size: 5rem;
   text-transform: uppercase;
   letter-spacing: 2px;
   border: 3px solid #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% -50%);
   padding: 5rem 10rem;
} */


header{
  text-align: center;
}


h1{
  font-weight: 200;
}


nav {
  /* justify-content: center;
  align-items: center; */
  text-align: center;
}

nav ul li {
  margin: 2% 0% 3% 0%;

}

nav ul li img {
  border-radius: 1em;
}

button {
  align-content: space-around;
  margin: 0% 0.75% 3% 0.75%;
  background-color: transparent;
  border: 0.5px solid #fff;
  color: #fff;
  border-radius: 100em;
  padding: .5% 1.25% .5% 1.25%;
  cursor: pointer;
}

.down{
  text-align: center;
  padding-top:2% ;
}

@keyframes change {
   0%{
       background-position: 0 50%;

   }
   50%{
      background-position: 100% 50%;
      
  }
   100%{
      background-position: 0 50%;
      
  }

}

@media (min-width: 361px){
   main section {
       display: block;
   }
}